<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.RunTheaterMapper">
		<resultMap type="RunTheater" id="runTheaterForm">
			<result column="rt_number" property="rtNumber"/>
			<result column="th_name" property="thName"/>
			<result column="seat_number" property="seatNumber"/>
			<result column="rv_withdrawal" property="rvWithdrawal"/>
		</resultMap>
		<resultMap type="RunTheater" id="runTheaterForm2" extends="runTheaterForm">
			<association property="structure" resultMap="com.yi.mapper.StructureMapper.structureForm2"></association>
		</resultMap>
		
		<insert id="insertRunTheater" parameterType="map">
			<if test="sList.size != 0">
			insert into runtheater(rt_number, th_name, seat_number) 
			values
			<foreach collection="sList" item="item" separator=",">
			(
				#{rtNumber},
				#{item.thName.thName},
				#{item.seatNumber}
			)
			</foreach>
			</if>
			
		</insert>
		
		<update id="updateBykwan" parameterType="RunTime">
			update runtheater
			set th_name=#{thName.thName}
			where rt_number = #{rtNumber}
		</update>
		
		<select id="selectAllSeat" parameterType="map" resultMap="runTheaterForm2">
			select * from structure where th_name=#{kwan} and use_withdrawal = true
		</select>
		
		<select id="selectUnReserve" parameterType="String" resultMap="runTheaterForm2">
			select * from runtheater r join `structure` s on r.seat_number = s.seat_number where r.th_name=s.th_name and r.rt_number=#{no} order by r.rt_number, left(r.seat_number,1), length(r.seat_number);
		</select>
		
		<update id="updateByRev" parameterType="map">
			update runtheater
			set rv_withdrawal= true
			where rt_number = #{rtNumber} and seat_number = #{seat}
		</update>
</mapper>







